body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/blue_sky.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer {
    background-color: rgba(0,0,0,0.5);
    height: 80px;
    color: white;
    padding-top: 10px;
}
/** 
CAROUSEL
*/
.container {
    background-image: url("../img/marseille_photo.jpg");
    background-position: center;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
#carousel1 {
    background-color: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    width: 1024px;
    margin: 0px auto 0;
    padding-top: 40px;
}
.carousel_container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}
.carousel_container::after {
    content: '';
    clear: both;
    display: table;
}
header h1 {
    background-color: rgba(0,0,0,0.3);
    min-width: 1024px;
    width: 1024px;
    margin: auto;
    height: 60px;
    padding-top: 20px;
    color: white;
    border-bottom: none;
    border-top: none;
    box-shadow: 12px 0px 2px 7px rgba(0, 0, 0, .1);
}
.carousel_item {
    float: left;
}
.carousel_next, .carousel_prev {
    position: absolute;
    color: rgb(50, 50, 50);
    background: white;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    padding: 12px 14px;
    line-height: 0;
}
.carousel_next:hover, .carousel_prev:hover {
    transform: scale(1.2)
}
.carousel_prev {
    right: auto;
    left: 20px;
}
.carousel_next_hidden, .carousel_prev_hidden {
    opacity: 0;
}
.item {
    height: 350px;
    transition: 0.3s;
}
.not_visible {
    display: none;
}
.visible {
    display: block;
}
/*Image du carousel avec decription*/
.item_body {
    position: absolute;
    top: 20%;
    margin-left: 1%;
    color: white;
    background-color: rgba(100,100,100,0.7);
    padding: 35px;
    border-radius: 4%;
    border: 2px solid white;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.5);
}

/* Partie Lecteur du carousel */

.lecteur {
    margin: auto;
    background-color: rgba(250,250,250, 0.2);
    height: 50px;
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.carousel_play {
    color: rgb(50, 50, 50);
    background: white;
    background-size: 20px 20px;
    border-radius: 10%;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    padding: 12px 14px;
    line-height: 0;
    margin-left: 5px;
    margin-top: 6px;
    width: 10px;
    height: 14px;
    bottom: 10px;
    left: 55%;
    transition: 0.3s;
}
.carousel_pause {
    color: rgb(50, 50, 50);
    background: white;
    background-size: 20px 20px;
    border-radius: 10%;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    padding: 12px 15px 12px 13px;
    line-height: 0;
    margin-top: 6px;
    width: 10px;
    height: 14px;
    bottom: 10px;
    left: 45%;
    transition: 0.3s;
}
.carousel_pause:hover, .carousel_play:hover  {
    background: rgb(50, 50, 50);
    color: white;
}
.carousel_pause_active {
    color: red;
    background: rgba(50, 50, 50, 0.4);
}
.carousel_play_active {
    color: rgb(0, 255, 0);
    background: rgba(50, 50, 50, 0.4);
}
/*

PARTI RESERVATION

*/
#reservation {
    height: 600px;
    width: 95%;
    margin: auto;
    background-color: rgba(230,230,230,0.3);
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
#map {
    height: 550px;
    width: 50%;
    background-color: rgba(77, 117, 190, 0.5);
}

/* Formulaire de reservation */
.reservation_form {
    height: 500px;
    width: 30%;
    background-color: rgba(0,0,0,0.1);
    text-align: left;
}
.formulaire {
    background-color: rgba(255, 255, 255, 0.829); 
    width: 90%;
    height: 90%;  
    margin:auto; 
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.formulaire_information {
    width: 80%; 
    margin:auto; 
    border: 1px rgb(158, 158, 158) solid;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}
.formulaire_information h4 {
    text-align: center;
}
.formulaire_login {
    text-align: right;
    width: 80%; 
    margin:auto; 
    margin-top: 2%;
    padding: 20px;
    border: 1px rgb(158, 158, 158) solid;
    background-color: rgba(255, 255, 255, 0.7);
}
.formulaire_login input {
    margin: 2px auto;
}
.bouton_formulaire::before {
    content: "";
    height: 3px;
    background-color: rgba(0, 162, 202, 1);
    display: block;
    width: 130px;
    margin: -1px 0px 0px -6px;
    transform: translate(-130px);
    transition: all 0.3s;
}
.bouton_formulaire {
    display: flex;
    margin: 10px auto;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 162, 202, 1);
    height: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 130px;
    transition: all 0.3s;
}
.bouton_formulaire::after {
    content: "";
    height: 3px;
    background-color: rgba(0, 162, 202, 1);
    display: block;
    width: 130px;
    margin: 0px 0px 0px -6px;
    transform: translate(130px);
    transition: all 0.3s;
}
.bouton_formulaire:hover {
    background-color: rgba(0, 162, 202, 0);
    color: black;
}
.bouton_formulaire:hover::before, .bouton_formulaire:hover::after {
    transform: translate(0);
}



